
html, body {
    margin: 0;
    padding: 0;
    background-color: #f8f3e4;
  }
  

  .nav{
    font-family: 'Playfair Display', sans-serif;
    color: #fbf8ef;;
    padding: 14px 50px;
    padding-top: 35px;
    text-decoration: none;
    font-size: 17px;
  
  }
  

li{
    list-style-type: none;
    text-decoration: none; 
    word-spacing: 100px;
    text-align: center;
    /* margin-right: 2%; */
    padding-top: 50px;
  }


.navbar name{  
    word-spacing: 0px;
    padding-right: 100px;
    text-align: left;
    font-size: 50px;
  }

  
  .navbar a:link { 
    color: #31302c ;
    text-decoration: none; 
    padding: 5px;
  }
  

  .navbar a:visited { 
    text-decoration: none; 
    color: #31302c;
  
  }
  

  .navbar a:hover {
    color: #31302c;
    box-shadow: inset 200px 0 0 0 #f8f3e4;
    transition: .15s;
  }

  .navbar ul li ul li{
    display: none;
    position: absolute;
    left: 875px;
    top: 90px;
  }

  .navbar ul li:hover ul li{
    display: block;
  }


  .navbar ul li:hover .submenu{
    display:none;
    position: absolute;
    background-color: #31302c;
    margin-top: 15px;  
    margin-left: -15px;
    top: 5px;
  }


.index img{
  height: auto;
  position: absolute;
  left: 50px;
  top: -10px;
  width: 450px;
}

.intro{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 100px;
  left: 500px;
  
}

.intro-text{
  width:550px;
}

.intro-text h2{
  font-family: 'Playfair Display', sans-serif;
  color: #31302c;
  font-size: 75px;
  text-transform: capitalize;
  letter-spacing: 0.01cm;
  margin-bottom: 20px;
  position: absolute;
  top: -100px;
  left: -340px;
}

.intro-text h5{
  font-family: 'Playfair Display', sans-serif;
  color: #31302c;
  font-size: 80px;
  text-transform: capitalize;
  letter-spacing: 0.04cm;
  margin-bottom: 20px;
  position: absolute;
  left: -325px;
  top: -95px;
}

.index-buttonss{  
  border-radius: 30px;
  background-color: #ebe4d0;
  padding: .8rem 1.1rem;
  width: 200px;
  display: flex;
  gap: 10px;
  margin-block-start: 25px;
  position: absolute;
  left: -635px;
  top: 540px;
}

.arroww{
  position: absolute;
  top:580px;
  left: -430px;
  background-color: #ebe4d0;
}

.arroww a{
  color: black;
}

.arroww a:hover{
  box-shadow: none;
  background-color: #ebe4d0;
  color: rgb(105, 101, 101);
}

.move-buttons{
  position: absolute;
  top: -350px;
  left: 300px;
}
.newsletter h3{
  font-family: 'Playfair Display', sans-serif;
  position: absolute;
  top: 480px;
  left: -330px;
}

.newsletter form{
  width: 310px;
  max-width: 100%;
  position: absolute;
  left: -350px;
  top: 300px;
}

.newsletter form input:first-child{
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
  position: absolute;
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f8f3e4;
  border: none;
  border-bottom: 2px solid black;
}

.about{
  width: 100%;
  padding: 100px 0px;
}

.about img{
  height: auto;
  width: 430px;
}

.about-text{
  width: 550px;
}

.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 250px;
  left: 450px;
}

.about-text h2{
  font-family: 'Playfair Display', sans-serif;
  color: #31302c;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: absolute;
  top: 120px;
  left: 560px;
}

.about-text h5{
  color: #31302c;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
  position: absolute;
  top: 250px;
  left: 560px;
}

.about-text p{
  position: absolute;
  top: 330px;
}

  
  p{
  
    font-family: 'Arial', sans-serif;
    color: black;
    float: left;
    text-align: left;
    padding: 14px 20px;
    font-size: 30px;
  }

  .work{
    background-color: #f8f3e4;
    width: 100%;
    padding: 40px 0px;
  }

  .java h2{
    color:#31302c;
    font-size: 60px;
    width: 1130px;
    position: absolute;
    height: 20px;
    margin-left: 9%;
    left: 550px;
  }

  .grid-container{
    position: absolute;
    height: 1cm;
    margin-left: 9%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
    top: 350px;
    left: 170px;
  }
  
  .grid-container img{
    width: 360px;
    height: auto;
  }

  /* photography */
  .photo-grid{
    position: absolute;
    height: 1cm;
    margin-left: 9%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
    top: 350px;
    left: 170px;
  }
  
  .photo-grid img{
    width: 360px;
    height: auto;
  }

  .contact{
    background-color: #fbf8ef;
    width: 100%;
    padding: 100px 0px;
  }

  .contact-content-con{
    position: absolute;
    display: flex;
    padding-top: 3.5rem;
    left: 1600px;
    top: 0px;
  }

  .contact-content-con .contact-icons{
    position: absolute;
    top: -2px;
    left: 280px;
  }

  .contact-content-con .contact-icons .contact-icon{
    position: absolute;
    top: 565px;
    left: -565px;
    width: 200px;
    border-radius: 30px;
    padding: .8rem 1.1rem;
    background-color: #ebe4d0;
    word-spacing: 30px;
    text-align: center;
  }

  .contact-content-con .contact-icons .contact-icon a{
    color: black;
    font-size: 20px;
    text-decoration: none;

  }

  .contact-content-con .contact-icons .contact-icon a:hover{
    color: rgb(105, 101, 101);
    font-size: 20px;
    text-decoration: none;

  }
  .contact-content-con .left-contact{
    position: absolute;
    top: 20px;
    right: 40px;
  }

  .contact-content-con .left-contact h3{
    position: absolute;
    font-size: 150px;
    flex: 2;
    left: -1100px;
    top: 200px;
    }

 .contact-content-con .left-contact h4{
      position: absolute;
      font-size: 120px;
      flex: 2;
      left: -1115px;
      top:320px;
      }
  

  .right-contact{
    flex: 3;
    margin-top: 3rem;
  }


  .input-control{
    margin: 1.5rem 0;
  }
  .input-control input{
    border-radius: 30px;
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;
      padding: .8rem 1.1rem;
      outline: none;
      border: none;
      background-color: #ebe4d0;
      width: 250px;
      color: black;
      resize: none;
      position: absolute;
      top: 200px;
      left: -635px;
  }
  .input-controll input{
    border-radius: 30px;
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;
      padding: .8rem 1.1rem;
      outline: none;
      border: none;
      background-color: #ebe4d0;
      width: 250px;
      color: black;
      resize: none;
      position: absolute;
      top: 200px;
      left: -340px;
  }
  .input-controlll input{
    border-radius: 30px;
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;
      padding: .8rem 1.1rem;
      outline: none;
      border: none;
      background-color: #ebe4d0;
      width: 550px;
      color: black;
      resize: none;
      position: absolute;
      top: 260px;
      left: -635px;
  }
  .input-control textarea{
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: .8rem 1.1rem;
    outline: none;
    border: none;
    background-color: #ebe4d0;
    width: 550px;
    height: 200px;
    color: black;
    resize: none;
    position: absolute;
    top: 320px;
    left: -635px;
  }

  .index-buttons{  
    border-radius: 30px;
    background-color: #ebe4d0;
    padding: .8rem 1.1rem;
    width: 300px;
    display: flex;
    gap: 10px;
    margin-block-start: 25px;
    position: absolute;
    left: -635px;
    top: 540px;
  }

  .arrow{
    position: absolute;
    top:580px;
    left: -335px;
    background-color: #ebe4d0;
  }

  .arrow a{
    color: black;
  }

  .arrow a:hover{
    box-shadow: none;
    background-color: #ebe4d0;
    color: rgb(105, 101, 101);
  }

  .contact-all{
    position: absolute;
    top: 50px;
  }

  .connecting input{
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;
      padding: .8rem 1.1rem;
      outline: none;
      background-color: #f8f3e4;
      border-top: black;
      border-left: none;
      border-right: none;
      width: 250px;
      color: black;
      resize: none;
      position: absolute;
      top: 545px;
      left: -340px;
  }


  

  .title h2{
    color:#31302c;
    font-size: 100px;
    width: 1130px;
    margin: 30px auto;
    position: absolute;
    left: 90px;
  }

  .title h3{
    color:#31302c;
    font-size: 100px;
    width: 1130px;
    margin: 30px auto;
    position: absolute;
    left: 200px;
    bottom: 50px;
  }

  .title h4{
    color:#31302c;
    font-size: 100px;
    width: 1130px;
    margin: 30px auto;
    position: absolute;
    left: 90px;
    bottom: 90px;
  }

  .data form{
    width: 310px;
    max-width: 100%;
    position: absolute;
  }
  
  .data form input:first-child{
    position: absolute;
    display: inline-block;
    width: 100%;
    padding: 14px 20px 14px 30px;
    background-color: #fbf8ef;
    bottom: 10px;
  }
  
  #about{
    text-align: left;
    font-size: 20px;
  
  }
  
  /* canvas {
    position: absolute;
    left: 25%;
  } */
  
  /* div id="sketch-holder" */
  
  #sketch-holder{
    display: block;
  }
  
  
  #sketch-holder2{
    position: absolute;
    left: 25%;
  
  }
  
  
  button{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    position:absolute;
    left:140px;
    top:180px;
  }
  
  
  input{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    position:absolute;
    top:180px;
  }

  
  
  .btn{
    font-family: Arial, sans-serif;
    letter-spacing: 3px;
    background-color: #f8f3e4;
    color: #31302c;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px 30px 30px 30px;
    transition: transform 2s;
  }

  .btn:hover{
    transform: scale(1.15);
  }

  .index_buttons{  
    display: flex;
    gap: 10px;
    margin-block-start: 25px;
    position: absolute;
    left: -340px;
    top: 200px;
  }

  .index_buttons .buttondownload{
     background-color: #ebe4d0;
     border-radius: 30px 30px 30px 30px;
      border: none;
      color: none;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      transition: transform 1s;
  }

  .index_buttons .buttondownload:hover{
    transform: scale(1.1);
  }

  
  #mobile{
    display: none;
  }
  
  #ipad{
    display: none;
  }
  
  @media(max-width: 900px){
    #ipad{
      display: block;
    }
    #desktop{
      display: none;
    }
    p{
      color:yellow;
    }
  }
  
  /* MOBILE */
  @media(max-width: 600px){
    #mobile{
      display: block;
    }
    #desktop{
      display: none;
    }
    #ipad{
      display: none;
    }
    p{
      color:blue;
    }
    input{
      display: none;
    }
  }



.indexbody{
  position:absolute;
  left: 400px;
}


.work{
  position: absolute;
  left: 150px;
}
  
.portfolio .grid-container{
  position: absolute;
}

.portfolio .grid-container .image{
  display: block;
  width: 100%;
  height: auto;
}

.portfolio .grid-container .overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  height: 360px;
  width: 360px;
  transition: 0.5s ease;
  background-color: #31302c;
}

.portfolio .grid-container .overlay2{
  position: absolute;
  top: 0;
  left: 460px;
  bottom: 0;
  right: 0;
  opacity: 0;
  height: 360px;
  width: 360px;
  transition: 0.5s ease;
  background-color: #31302c;
}


.portfolio .grid-container .overlay3{
  position: absolute;
  top: 0;
  left: 920px;
  bottom: 0;
  right: 0;
  opacity: 0;
  height: 360px;
  width: 360px;
  transition: 0.5s ease;
  background-color: #31302c;
}

.grid-container .overlay:hover{
  opacity: 0.90;
}

.grid-container .overlay2:hover{
  opacity: 0.90;
}

.grid-container .overlay3:hover{
  opacity: 0.90;
}

.portfolio .grid-container .overlay .overlaytext a{
  color: white;
  font-size: 45px;
  position: absolute;
  top: 170px;
  left: 180px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.portfolio .grid-container .overlay2 .overlaytext2 a{
  color: white;
  font-size: 45px;
  position: absolute;
  top: 170px;
  left: 185px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none
}

.portfolio .grid-container .overlay3 .overlaytext3 a{
  color: white;
  font-size: 45px;
  position: absolute;
  top: 170px;
  left: 185px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none
}

.photowork h2{
  position: absolute;
  font-size: 60px;
  left: 810px;
}

.drawings h2{
  position: absolute;
  font-size: 60px;
  left: 810px;
}

.coding h2{
  position: absolute;
  font-size: 60px;
  left: 910px;
}

.photo-grid .toast a{
  position: absolute;
  text-decoration: none;
  color: black;
  top: 390px;
  right: 1030px;
  border-radius: 30px;
  background-color: #ebe4d0;
    padding: .8rem 1.1rem;
    width: 100px;
    display: flex;
    gap: 10px;
    margin-block-start: 25px;
}

.photo-grid .toast a:hover{
  background-color: #cac4b3;

}

.photo-grid .egg a{
  position: absolute;
  text-decoration: none;
  color: black;
  top: 390px;
  right: 580px;
  border-radius: 30px;
  background-color: #ebe4d0;
    padding: .8rem 1.1rem;
    width: 90px;
    display: flex;
    gap: 10px;
    margin-block-start: 25px;
}

.photo-grid .egg a:hover{
  background-color: #cac4b3;

}

.photo-grid .data a{
  position: absolute;
  text-decoration: none;
  color: black;
  top: 390px;
  right: 115px;
  border-radius: 30px;
  background-color: #ebe4d0;
    padding: .8rem 1.1rem;
    width: 85px;
    display: flex;
    gap: 10px;
    margin-block-start: 25px;
}

.photo-grid .data a:hover{
  background-color: #cac4b3;

}